{{#if (productos.length)}}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      {{#each productos}}
          <tr>
              <th scope="row"> {{id}} </th>
              <td> {{title}} </td>
              <td>$ {{price}} </td>
              <td> 
                <img width="135" height="200" src={{thumbnail}} > 
              </td>
          </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No se encontraron productos</p>
{{/if}}